@media (@sm) {
	body {
		max-height: 100vh;
		overflow: hidden;
	}
	
	.tpl1 {
		overflow-y: scroll;
		overflow-y: overlay;
	}
}

.h1 {
	margin-top: 50px;
	margin-bottom: 20px;
	
	@media (@sm) {
		margin-top: 60px;
	}
	@media (@lg) {
		margin-top: 70px;
		margin-bottom: 60px;
	}
}

.tpl1 {
	padding-bottom: 50px;
	
	&-title {
		flex-shrink: 0;
	}
	
	&-note {
		max-width: 442px;
		line-height: 26px;
		color: @grey1;
		margin-bottom: 25px;
		
		&._right {
			display: none;
			max-width: none;
		}
		
		b {
			font-weight: 600;
			color: @black;
		}
	}
	
	&-nav {
		.row(15px);
	}
	
	&-navItem {
		.col(12);
	}
	
	&-navToggler {
		&._active {
			color: @main;
		}
	}
	
	&-contentToggler {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 25px 0;
		
		&::after {
			.ifnt(angle-square);
			font-size: 24px;
			margin-left: 5px;
			transition: .2s;
		}
		
		&._active {
			color: @main;
			
			&::after {
				transform: rotate(-180deg);
			}
		}
	}
	
	&-h2 {
		font-size: 18px;
		line-height: 23px;
		
		&._active {
			font-weight: 600;
		}
	}
	
	&-contentItem {
		overflow: hidden;
		transition: .2s;
	}
	
	&-contentItemContent {
		padding-bottom: 30px;
		transition: .2s;
	}
	
	@media (@smx) {
		&-aside {
			.dn();
		}
		
		&-contentItem {
			border-top: 1px solid @lightgrey3;
			
			&:last-child {
				border-bottom: 1px solid @lightgrey3;
			}
		}
		
		&-contentItemContent {
			padding-top: 5px;
		}
		
		&-contentToggler:not(._active) ~ &-contentItemContent {
			.hidden();
			transform: translateX(100%);
		}
	}
	
	@content-gap: 15px;
	@media (@sm) {
		padding-bottom: 70px;
		
		&-content {
			.row(@content-gap);
			align-items: flex-start;
			justify-content: space-between;
		}
		
		&-note {
			margin-bottom: 50px;
		}
		
		&-aside {
			position: sticky;
			top: -@content-gap;
			.col(4);
		}
		
		&-contentList {
			.col();
		}
		
		&-contentList &-contentToggler {
			.dn();
		}
		
		&-contentItem:not(._active) {
			.hidden();
			transform: translateY(-50%);
		}
	}
	
	@media (@lg) {
		&-note {
			&._main {
				display: none;
			}
			&._right {
				position: sticky;
				top: -@content-gap;
				// order: 1;
				display: block;
				.col(4);
			}
		}
		&-aside {
			.col(2);
		}
		
		&-nav {
			.row(10px);
		}
	}
}
