@import 'template/index';
@import 'blocks/_tpl1';

.h1 {
	margin-bottom: 20px;
}

.tpl1 {
	&-aside {
		background: @white;
		z-index: 1;
	}
	
	&-note {
		font-size: 18px;
		line-height: 30px;
		font-weight: 300;
		color: @black;
	}
	
	@media (@sm) {
		&-note {
			font-size: 21px;
		}
	}
	
	@media (@lg) {
		&-aside {
			.col(4);
		}
		&-contentList {
			.col(7);
		}
	}
}

.faq {
	margin-bottom: -30px;
	
	&-item {
		padding-bottom: 30px;
		
		.h3 {
			font-weight: 600;
			font-size: 14px;
			line-height: 18px;
			margin-bottom: 15px;
		}
		.p {
			display: block;
			
			&:not(:last-child) {
				margin-bottom: 6px;
			}
		}
	}
	
	@media (@sm) {
		&::after {
			content: '';
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			height: 250px;
			background: linear-gradient(0deg, #FFFFFF 43.23%, rgba(255, 255, 255, 0) 100%);
			transition: .2s;
			pointer-events: none;
		}
		&:not(._blurred)::after {
			transform: translateY(100%);
		}
		
		&-item {
			border-bottom: 1px solid @lightgrey3;
			
			&:not(:first-child) {
				padding-top: 30px;
			}
			
			.h3 {
				font-size: 18px;
				line-height: 23px;
			}
			.p {
				font-size: 16px;
				line-height: 22px;
			}
		}
	}
	@media (@lg) {
		&-item {
			.p {
				padding-right: 95px;
			}
		}
	}
}
