@import 'template/index';

body {
	background: #EC9896 no-repeat url(/img/welcome.png) center / auto 100%;
	
	@media (@smx) {
		background-image: url(/img/welcome-smx.png);
		// background-attachment: fixed;
	}
	
	@media (@lgx) {
		background-image: url(/img/welcome-lgx.png);
	}
}

.welcome {
	font-weight: 300;
	color: @dark;
	padding: 64px 0;
	
	&-content {
		max-width: 250px;
	}
	
	.h1 {
		font-size: 32px;
		line-height: 38px;
		margin-bottom: 10px;
		word-break: normal;
	}
	
	.p {
		margin-bottom: 20px;
	}
	
	@media (@smx) {
		.h1 {
			max-width: 60%;
		}
	}
	
	@media (@sm) {
		padding-top: 200px;
		padding-bottom: 400px;
		
		&-content {
			max-width: 50%;
		}
		
		.h1 {
			font-size: 70px;
			line-height: 75px;
			margin-bottom: 20px;
		}
		
		.p {
			font-size: 21px;
			line-height: 30px;
			margin-bottom: 30px;
		}
	}
	
	@media (@lg) {
		padding-top: 160px;
		padding-bottom: 300px;
		
		.h1 {
			font-size: 58px;
			line-height: 74px;
		}
		
		.p {
			font-size: 24px;
			line-height: 38px;
		}
	}
}
