.footer {
	padding: 20px 0;
	font-size: 14px;
	line-height: 18px;
	background-color: @white;
	margin-top: auto;
	z-index: 3;
	
	&-content {
		.row(5px);
		align-items: center;
	}
	
	&-logo {
		margin-right: auto;
	}
	
	&-link {
		color: @dark;
	}
	
	@media (@smx) {
		&-mailto {
			.col(12);
			margin-bottom: 5px;
		}
	}
	
	@media (@sm) {
		padding: 30px 0;
		
		&-content {
			.row(12.5px);
		}
	}
	
	@media (@lg) {
		&-mailto {
			order: 1;
		}
	}
	
	@media (@lgx) {
		&-logo {
			margin-right: auto;
		}
		
		&-link {
			.col(12);
		}
	}
}
